<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">STUDENTS</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        
        <ion-card style="max-height: 700px;">
          <ion-card-header>
            <ion-card-title>
              Registered Students
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            


            <form [formGroup]="searchRegisteredStudentForm" (ngSubmit)="doSearchRegisteredStudent(searchRegisteredStudentForm.value)">
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-item>
                      <ion-input type="number" placeholder="Enter NSBM ID" clearInput formControlName="nsbmId"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="0.5">
                    <ion-label style="position: absolute;
                                      left: 50%;
                                      top: 50%;
                                      transform: translate(-50%, -50%);
                                      font-size: 20px;">
                      OR
                    </ion-label>
                  </ion-col>
                  <ion-col size="5">
                    <ion-item>
                      <ion-input type="text" placeholder="Enter NSBM Email Address" clearInput formControlName="nsbmEmailAddress"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="1.5">
                    <ion-button style="min-height: 100%;
                                      min-width: 100%;
                                      margin-top: 0px;" type="submit" [disabled]="searchRegisteredStudentForm.valid">
                      <ion-icon name="search-outline" style="margin-right: 5px;
                                                            font-size: 20x;"></ion-icon>
                      <ion-label style="font-size: 20px;
                                        color: white;">
                        Search
                      </ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

            <div style="border-top: #ccc solid 1px;
                        min-width: 100%;"></div>

            <!-- Page loading search registered student text -->
            <div *ngIf="pageLoadSearchStudentText" style="position: absolute;
                                                        top: 150px;
                                                        left: 50%;
                                                        transform: translateX(-50%);
                                                        font-size: 18px;
                                                        border: rgb(100, 116, 121) solid 2px;
                                                        border-radius: 5px;
                                                        padding: 15px;">
              <ion-icon name="chevron-up-circle-outline" style="color: rgb(8, 177, 219);
                                                                font-size: 30px;
                                                                margin-top: 2px;
                                                                margin-right: 10px;"></ion-icon>
              <ion-label style="position: relative;
                                top: -5px;">
                Please populate a field and click 'Search' button to search for a registered student.
              </ion-label>
            </div>

            <ion-spinner name="dots" style="position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            margin-top: 20px;
                                            height: 100px;
                                            width: 100px;" *ngIf="showLoadingDots"></ion-spinner>


             <div style="overflow-y: scroll; 
                        height: 500px;
                        margin-top: 15px;">
              <ion-grid>

                <ion-row>

                  <ion-col size="4" size-sm="12" size-lg="3">

                    <ion-card *ngIf="registeredStudentCard">
                      <ion-card-header>
                        <ion-card-title>{{ studentNamePrefix }} {{ studentNameFirstName }} {{ studentNameMiddleName }} {{ studentNameLastName }}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <b>NSBM ID: </b> {{ studentNsbmStudentId }} <br>
                        <b>NSBM Email Address: </b> {{ studentNsbmEmailAddress }} <br>
                        <b>Batch: </b> {{ studentBatch }} <br>
                        <b>Degree: </b> {{ studentDegree }}, {{ studentAwardingBodyUniversity }} <br>
                        <b>Account Status: </b> {{ studentStatus }}
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-button shape="round" color="secondary" style="min-width: 100%;">
                                <ion-icon name="create-outline" style="margin-right: 5px;
                                                                      color: white;"></ion-icon>
                                <ion-label style="color: white">
                                  Edit
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="disableButton">
                            <ion-col>
                              <ion-button shape="round" color="danger" style="min-width: 100%;" (click)="disableStudentAccount('Confirmation Required','This student account will be DISABLED, do you want to continue?')">
                                <ion-icon name="lock-closed" style="margin-right: 5px;"></ion-icon>
                                <ion-label style="color: white">
                                  Disable Account
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="enableButton">
                            <ion-col>
                              <ion-button shape="round" color="medium" style="min-width: 100%;" (click)="enableStudentAccount('Confirmation Required','This student account will be ENABLED, do you want to continue?')">
                                <ion-icon name="lock-open-outline" style="margin-right: 5px;"></ion-icon>
                                <ion-label style="color: white">
                                  Enable Account
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>

                  </ion-col>

                </ion-row>

              </ion-grid>
            </div>


          </ion-card-content>
        </ion-card>






      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>
