<ion-header>
  <ion-toolbar>
    <ion-title>Edit Details of Lecture Session</ion-title>
    <ion-button (click)="closeEditLectureSessionModal()" slot="end" shape="round" fill="outline" color="danger" style="margin-right: 20px;">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <ion-grid>

        <form [formGroup]="editLectureSessionForm" 
          (ngSubmit)="editPublishedLectureSession('Confirmation', 
            'Lecture session will be updated with these details, do you want to continue?', editLectureSessionForm.value)">

          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;">
            <ion-row>
              <ion-col>
                <ion-label style="position: absolute;
                                  top: -20px;
                                  background-color: white;
                                  width: 170px;
                                  text-align: center;
                                  font-size: 15px;">
                  <b>Semester Information</b>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Batch
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-select style="min-width: 100%;" value="{{ passedLectureSessionBatch }}" formControlName="batch">
                    <ion-select-option *ngFor="let item of publishedBatches" value="{{ item.payload.doc.data().batch }}">{{ item.payload.doc.data().batch }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Degree Program
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-select placeholder="Degree Program" style="min-width: 100%;" value="{{ passedLectureSessionDegree }}"
                    formControlName="degreeProgram" (ionChange)="retrieveAwardingBodyUniversityOnChange($event)">
                    <ion-select-option *ngFor="let item of publishedDegreePrograms"  
                      value="{{ item.payload.doc.data().degree }}">
                      {{ item.payload.doc.data().degree }}, {{ item.payload.doc.data().awardingBodyUniversity }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Academic Year
                </ion-label>
              </ion-col>
              <ion-col size="7">
                
                <div style="border: #ccc solid 1px;
                            border-radius: 5px;">

                  <ion-row>
                    <ion-select placeholder="Select Year" okText="Select" cancelText="Cancel" style="max-width: 100% !important;" 
                      value="{{ passedLectureSessionAcademicYear }}" formControlName="academicYear">
                        <ion-select-option value="1">Year 1</ion-select-option>
                        <ion-select-option value="2">Year 2</ion-select-option>
                        <ion-select-option value="3">Year 3</ion-select-option>
                        <ion-select-option value="4">Year 4</ion-select-option>
                   </ion-select>
                  </ion-row>
                  <ion-row>
                    <ion-select placeholder="Select Semester" okText="Select" cancelText="Cancel" style="max-width: 100% !important;" 
                      value="{{ passedLectureSessionAcademicSemester }}" formControlName="academicYear">
                        <ion-select-option value="1">Semester 1</ion-select-option>
                        <ion-select-option value="2">Semester 2</ion-select-option>
                        <ion-select-option value="3">Semester 3</ion-select-option>
                        <ion-select-option value="4">Semester 4</ion-select-option>
                    </ion-select>
                  </ion-row>

                </div>

              </ion-col>
            </ion-row>
          </div>

          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;
                      margin-top: 20px;">
            <ion-row>
              <ion-col>
                <ion-label style="position: absolute;
                                  top: -20px;
                                  background-color: white;
                                  width: 160px;
                                  text-align: center;
                                  font-size: 15px;">
                  <b>Lecture Information</b>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Module
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-select placeholder="Select Module" style="min-width: 100%;" value="{{ passedLectureSessionModuleCode }}" 
                    formControlName="module" (ionChange)="retrieveModuleTitleOnChange($event)">
                    <ion-select-option *ngFor="let item of publishedModules" value="{{ item.payload.doc.data().moduleCode }}">
                      {{ item.payload.doc.data().moduleCode }} - {{ item.payload.doc.data().moduleTitle }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Lecturer
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-label>
                    Lecturer
                  </ion-label>
                  <ion-select placeholder="Lecturer" style="min-width: 100%;" value="{{ passedLectureSessionLecturer }}" formControlName="lecturer">
                    <ion-select-option *ngFor="let item of registeredLecturers" 
                      value="{{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}">
                      {{ item.payload.doc.data().name.prefix }} 
                      {{ item.payload.doc.data().name.firstName }} 
                      {{ item.payload.doc.data().name.lastName }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Lecture Hall
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-label>
                    Lecture Hall
                  </ion-label>
                  <ion-select placeholder="Lecture Hall" style="min-width: 100%;" value="{{ passedLectureSessionLectureHall }}" formControlName="lectureHall">
                    <ion-select-option *ngFor="let item of publishedLectureHalls" value="{{ item.payload.doc.data().lectureHall }}">
                      {{ item.payload.doc.data().lectureHall }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Lecture Status
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-label>
                    Lecture Status
                  </ion-label>
                  <ion-select placeholder="Status" style="min-width: 100%;" value="{{ passedLectureSessionStatus }}" formControlName="lectureStatus">
                    <ion-select-option *ngFor="let item of publishedSessionStatuses" value="{{ item.payload.doc.data().status }}">
                      {{ item.payload.doc.data().status }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Session Date
                </ion-label>
              </ion-col>
              <ion-col size="7">                                                                              
                <input placeholder="Select session date" (click)="lectureSessionDate.open()" [matDatepicker]="lectureSessionDate" [min]="minDate" [max]="maxDate" readOnly formControlName="sessionDate"
                  style="border: #ccc 1px solid;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        padding: 15px;">
                <mat-datepicker #lectureSessionDate></mat-datepicker>
                <ion-icon name="calendar-outline" style="position: absolute;
                                                        top: 13px;
                                                        right: 16px;
                                                        color: rgb(78, 78, 78);
                                                        font-size: 28px;"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Session Start Time
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <input [ngxTimepicker]="lectureSessionStartTime" placeholder="Pick Start Time" readOnly formControlName="sessionStartTime"
                  style="border: #ccc 1px solid;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        padding: 15px;">
                <ngx-material-timepicker #lectureSessionStartTime [minutesGap]="5" [defaultTime]="lectureSessionStartTime"></ngx-material-timepicker>
                <ion-icon name="time-outline" style="position: absolute;
                                                    top: 13px;
                                                    right: 16px;
                                                    color: rgb(78, 78, 78);
                                                    font-size: 30px;"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-label class="editLectureSessionFormLabel">
                  Session End Time
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <input [ngxTimepicker]="lectureSessionEndTime" placeholder="Pick End Time" readOnly formControlName="sessionEndTime"
                  style="border: #ccc 1px solid;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        padding: 15px;">
                <ngx-material-timepicker #lectureSessionEndTime [minutesGap]="5" [defaultTime]="lectureSessionEndTime"></ngx-material-timepicker>
                <ion-icon name="time-outline" style="position: absolute;
                                                    top: 13px;
                                                    right: 16px;
                                                    color: rgb(78, 78, 78);
                                                    font-size: 30px;"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

          <ion-row style="margin-top: 20px;
                          margin-bottom: 10px;">
            <ion-col>

              <ion-button expand="block" type="submit" [disabled]="!editLectureSessionForm.valid">
                UPDATE
              </ion-button>

            </ion-col>
          </ion-row>

        </form>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  

</ion-content>
