<ion-list style="width: 360px;">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 17px;">
            <b>Password Guidelines:</b>  
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            Minimum 10 characters required
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            One uppercase character required
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            One numeric character required
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            One special character required 
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>