ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-label{
    color: black;
}

ion-item{
    border: rgb(32, 32, 32) solid 1px;
    border-radius: 5px;
}

.registerLecturerFormLabel{
    position: relative;
    top: 15px;
}