<ion-split-pane contentId="content"> <!-- Opens the side menu in large screens -->

  <ion-menu contentId="content" type="overlay" style="width: 100px;"> <!-- (ion-menu section displays the menu part) -->

    <ion-header>
      <ion-card style="background-color: white;
                      height: 150px;">
        <ion-card-header>
          <ion-label>
            <h3 style="text-align: center;
                      margin-top: -5px;
                      color: black;"><b>School of Computing</b></h3>
          </ion-label>
          <ion-img src="assets/images/NSBM_Hub_Logo.png" style="width: 70px;
                                                                        position: relative;
                                                                        left: 50%;
                                                                        top: 5px;
                                                                        transform: translateX(-50%);"></ion-img>
          <ion-label>
            <h3 style="text-align: center; 
                      color: black;
                      margin-top: 5px;"><b>NSBM Hub <br> Management System</b></h3>
          </ion-label>
        </ion-card-header>
      </ion-card>
    </ion-header>

    
    <ion-content>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pagesTop"> <!-- This 'pagesTop' references to pagesTop array in side-menu.page.ts file -->
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item-top]="selectedPath.startsWith(p.url)">
            <ion-label>
              <ion-img src="{{ p.icon }}" style="width: 26px;
                                                margin-top: -2px;"></ion-img>

              <!-- Ionic icon implmentation
              <ion-icon slot="start" [name]="p.icon"></ion-icon> 
              -->
            </ion-label>
            <ion-label style="position: absolute;
                              top: 1px;
                              left: 40px;"> {{ p.title }} 
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <!-- Code block for Side Menu and Sub Menu Pages
      <div *ngFor="let p of pagesTop"> -->  <!-- This 'pagesTop' references to pagesTop array in side-menu.page.ts file -->
      <!--
        <ion-menu-toggle *ngIf="p.url"> 
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="p.icon" slot="start"></ion-icon> 
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" 
           [class.active-parent]="p.open" detail="false">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of p.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
              <ion-icon [name]="sub.icon" slot="start"></ion-icon>
              <ion-label>
                {{ sub.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </div>
    -->

    <ion-list style="position: relative;
                    top: 6%;">
      <ion-menu-toggle auto-hide="false"> 
        <ion-item [routerLink]="'/side-menu/profile'" routerDirection="root" [class.active-item-bottom]="selectedPath.startsWith('/side-menu/profile')">
          <ion-label>
            <ion-img src="assets/images/account/side-menu_icons/profile.png" style="width: 26px;
                                                                                            margin-top: -2px;"></ion-img>
          </ion-label>
          <ion-label style="position: absolute;
                            top: 1px;
                            left: 40px;"> 
            Profile
          </ion-label>
        </ion-item>

        <ion-item [routerLink]="'/side-menu/settings'" routerDirection="root" [class.active-item-bottom]="selectedPath.startsWith('/side-menu/settings')">
          <ion-label>
            <ion-icon name="settings-outline" style="width: 26px;
                                                    margin-top: -2px;
                                                    font-size: 25px;"></ion-icon>
          </ion-label>
          <ion-label style="position: absolute;
                            top: 1px;
                            left: 40px;"> 
            Settings
          </ion-label>
        </ion-item>

        <ion-item>
          <button ion-button style="width: 300px;
                                    height: 50px;
                                    background-color: white;" (click)="logout()">
            <ion-label>
              <ion-icon name="log-out-outline" style="width: 26px;
                                                      font-size: 30px;
                                                      margin-top: -2px;
                                                      position: absolute;
                                                      left: 5px;"></ion-icon>
            </ion-label>
            <ion-label style="position: absolute;
                              top: 15px;
                              left: 40px;
                              font-size: 16px;
                              color: #B90000;"> 
              Logout
            </ion-label>
          </button>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet> <!-- (ion-router) section displays the content relavant for the page -->
  <!-- this will be loaded from the loadChrildren link provided in the app-routing.module.ts file -->

</ion-split-pane>