ion-header{
    background-color: rgb(242, 248, 241);
}

ion-item{
    font-size: 16px;
}

ion-label{
    height: 30px;
    padding-top: 3px;
}

ion-icon{
    font-size: 20px;
    padding-right: 10px;
}

/* // Code block for Side Menu and Sub Menu Pages
.active{

    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}

.active-parent{
    font-weight: 500;
}

.sub-item{
    padding-left: 20px;
    font-size: small;
}
*/


.active-item-top {
    --ion-background-color: #F8FEFF;
    border-left: 8px solid #00AEDE; // Small line in the corner of the active page in the side menu.
}

.active-item-bottom {
    --ion-background-color: #F7FFFD;
    border-left: 8px solid #00DEA8; // Small line in the corner of the active page in the side menu.
}


