<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">NOTICES</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content style="--ion-background-color: rgb(243, 243, 243);">

  <!-- Importing js file -->
  <script src="../../../assets/js/accountNotices.js"></script>

  <!-- Vertical line in the center of the page -->
  <div style="border-left: rgb(236, 236, 236) solid 2px;
              height: 125%;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);">
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>

        <ion-row>
          <ion-col>

            <ion-card style="width: 98%;
                        background-color: white;
                        margin-left: 10px;">
              <ion-card-header style="margin-top: -5px;">
                <h4> Send New Notice </h4>
              </ion-card-header>
              <ion-card-content>

                <ion-card id="newNoticeSection" style="background-color: #F3FAFC;
                                                      margin-top: -15px;">
                  <ion-card-content style="margin-top: -20px;">

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <button id="newNoticeButtonStudent" (click)="showStudentForm()" style="background-color: #0B80D3;
                                                                                                letter-spacing: 5px;
                                                                                                margin-top: 5px;
                                                                                                color: #ffffff" class="btn btn-block">
                            <b>STUDENT</b>
                          </button> 
                        </ion-col>
                        
                        <ion-col>
                          <button id="newNoticeButtonLecturer" (click)="showLecturerForm()" style="background-color: #02A5D7;
                                                                                                  letter-spacing: 5px;
                                                                                                  margin-top: 5px;  
                                                                                                  color: #ffffff" class="btn btn-block">
                            <b>LECTURER</b>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <!-- New Notice to Student Section -->
                    <div id="newNoticeSubmitStudent" style="display: inline">

                    <form [formGroup]="noticePOToStudentForm" (ngSubmit)="sendStudentNotice('Confirmation','Do you want to send notice to students?',noticePOToStudentForm.value)">
                      <ion-grid>
                        <ion-row>

                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Title</h3></ion-label>
                          </ion-col>
                          <ion-col size="9">
                            <ion-item>
                              <ion-input type="text" placeholder="Enter Title" clearInput formControlName="noticeTitle"></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Description</h3></ion-label>
                          </ion-col>
                          <ion-col size="9">
                            <ion-item>
                              <ion-textarea placeholder="Enter Description" formControlName="noticeDescription"></ion-textarea>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Category</h3></ion-label>
                          </ion-col>
                          <ion-col size="9">
                            <ion-item>
                              <ion-select placeholder="Select Category" interface="popover" style="min-width: 100%;" formControlName="noticeCategory">
                                <ion-select-option *ngFor="let item of publishedNoticeCategories" 
                                  value="{{ item.payload.doc.data().category }}">
                                  {{ item.payload.doc.data().category }}
                                </ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                        </ion-row>

                        <ion-row>
                          <ion-col size="3">
                            <ion-label>
                              <h3 style="padding-top: 15px;
                                        font-size: 15px;">
                                Add Cover Image
                              </h3>
                            </ion-label>
                          </ion-col>
                          <ion-col size="9">
                            <ion-item>
                              <ion-label style="color: #ccc;">Cover Image</ion-label>
                              <ion-toggle (ionChange)="changeUploadCoverImageStudent($event)"></ion-toggle>
                            </ion-item>
                          </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: -14px;">
                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Cover Image</h3></ion-label>
                          </ion-col>
                          <ion-col size="9">

                          <!-- Code Block with upload event cover image -->
                          <div id="withCoverImage" style="display: none;">
                            <!-- Card Before Uploading an Image -->
                            <ion-card text-center *ngIf="!isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                                    height: 300px;
                                                                                                    margin-left: 0px;">
                              <ion-card-header>
                                <ion-card-title>Select Image to Upload</ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                
                                  <input type="file" name="coverImage" accept="image/*" (change)="coverImageViewer($event)">
                                  <div style="margin: 10px; 
                                              margin-top: 15px;
                                              width: 200px;
                                              position: absolute;
                                              left: 50%;
                                              transform: translateX(-50%);">
                                  <img *ngIf=" coverImage != '' " src="{{ coverImage }}"/>
                                  </div>
                                <!--
                                <div>
                                  <span>Upload Image</span> 
                                  <ion-input id="uploadBtn" type="file" class="upload" (change)="selectNewNoticeImage($event.target.files)"></ion-input>
                                </div>
                              -->
                              </ion-card-content>
                            </ion-card>

                          
                            <!-- Card During Uploading an Image -->
                            <ion-card text-center *ngIf="isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                                    height: 300px;
                                                                                                    margin-left: 0px;">
                              <ion-card-header>
                                <ion-card-title>Selected File: <i>{{ fileName }}</i></ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <div *ngIf="percentage | async as percent">
                                  <p> Progress: {{ percent | number }}% </p>
                                  <ion-progress-bar value="{{ percent / 100 }}"></ion-progress-bar>
                                </div>
                                <div *ngIf="snapshot | async as snap">

                                  <p> 
                                    File Size: {{ snap.totalBytes }} <br>
                                    Transferred: {{ snap.bytesTransferred }}
                                  </p>                                   

                                  <!-- Code block shows file size in converted file size -->
                                  <!-- 
                                  <p> 
                                    File Size: {{ snap.totalBytes | fileSizePipe }} <br>
                                    Transferred: {{ snap.bytesTransferred | fileSizePipe }}
                                  </p> 
                                  -->

                                  <!--
                                  <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                                    <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">
                                      Pause 
                                    </ion-button>
                                    <ion-button size="small" (click)="task.resume()" class="button is-info">
                                      Resume 
                                    </ion-button>
                                    <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">
                                      Cancel 
                                    </ion-button>
                                  </div>
                                  -->
                                </div>
                              </ion-card-content>
                            </ion-card>

                            <!-- Card After Uploading an Image -->
                            <ion-card text-center *ngIf="!isFileUploading && isFileUploaded" style="min-width: 100%;
                                                                                                    height: 300px;
                                                                                                    margin-left: 0px;">
                              <ion-card-header>
                                <ion-card-title>Image Selected to Upload</ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <div *ngIf="UploadedFileURL | async as ufurl">
                                  <ion-img [src]="ufurl"></ion-img>
                                  <a [href]="ufurl" target="_blank" rel="noopener" download> Download </a>
                                </div>

                                <p> File Size: {{ fileSize }} </p>

                                <!-- Code block show file size in converted file size -->
                                <!-- <p> File Size: {{ fileSize | fileSizePipe }} </p> -->

                                <ion-button expand="full" color="success" (click)="isFileUploading = isFileUploaded = false"> Upload More </ion-button>
                              </ion-card-content>
                            </ion-card>
                          </div>

                          <!-- Code block without upload cover image -->
                          <div id="withoutCoverImage" style="display: inline">
                            <ion-card style="min-width: 100%;
                                            height: 300px;
                                            margin-left: 0px;">
                              <ion-card-content>
                                <h2 style="color: #ccc;">Click On Cover Image Toggle</h2>
                              </ion-card-content>
                            </ion-card>
                          </div>

                          </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: -12px;">
                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Recipient</h3></ion-label>
                          </ion-col>
                          <ion-col size="4">
                            <ion-item>
                              <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Module" formControlName="noticeRecipientModule" style="min-width: 100%;">
                                <ion-select-option *ngFor="let item of publishedModules" value="{{ item.payload.doc.data().moduleCode }}">{{ item.payload.doc.data().moduleCode }}</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          <ion-col size="1">
                            <ion-label style="position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            font-size: 16px;
                                            letter-spacing: 5px;
                                            transform: translate(-50%,-50%);"><b>OR</b></ion-label>
                          </ion-col>
                          <ion-col size="4">
                            <ion-item>
                              <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Batch" formControlName="noticeRecipientBatch" style="min-width: 100%;">
                                <ion-select-option *ngFor="let item of publishedBatches" value="{{ item.payload.doc.data().batch }}">{{ item.payload.doc.data().batch }}</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="3">
                            <ion-label><h3 style="padding-top: 15px;
                                                  font-size: 15px;">Notice Author</h3></ion-label>
                          </ion-col>
                          <ion-col size="9">
                            <ion-item>
                              <ion-input formControlName="noticeAuthor" style="min-width: 100%;" type="text" readOnly></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>

                        <div style="position: relative;
                                    top: 10px;">
                          <ion-button expand="block" (click)="($event)" type="submit" [disabled]="!noticePOToStudentForm.valid">Send Notice</ion-button>
                        </div>

                      </ion-grid>
                    </form>
                      
                    </div>
                    


                    <!-- Send New Notice to Lecturer -->
                    <div id="newNoticeSubmitLecturer" style="display: none;">
                      <form [formGroup]="noticePOToLecturerForm" (ngSubmit)="sendLecturerNotice('Confirmation','Do you want to send notice to lecturer(s)?',noticePOToLecturerForm.value)">
                        <ion-grid>
                          <ion-row>

                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Title</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                <ion-input type="text" placeholder="Enter Title" clearInput formControlName="noticeTitle"></ion-input>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Description</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                <ion-textarea placeholder="Enter Description" formControlName="noticeDescription"></ion-textarea>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Category</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                <ion-select interface="popover" placeholder="Select Category" style="min-width: 100%;" formControlName="noticeCategory">
                                  <ion-select-option *ngFor="let item of publishedNoticeCategories" 
                                    value="{{ item.payload.doc.data().category }}">
                                    {{ item.payload.doc.data().category }}
                                  </ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="3">
                              <ion-label>
                                <h3 style="padding-top: 15px;
                                          font-size: 15px;">
                                  Add Cover Image
                                </h3>
                              </ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                <ion-label style="color: #ccc;">Cover Image</ion-label>
                                <ion-toggle (ionChange)="changeUploadCoverImageLecturer($event)"></ion-toggle>
                              </ion-item>
                            </ion-col>
                          </ion-row>

                          <ion-row style="margin-top: -14px;">
                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Cover Image</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">

                            <!-- Code Block with upload event cover image -->
                            <div id="withCoverImageLecturer" style="display: none;">
                              <!-- Card Before Uploading an Image -->
                              <ion-card text-center *ngIf="!isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                                      height: 300px;
                                                                                                      margin-left: 0px">
                                <ion-card-header>
                                  <ion-card-title>Select Image to Upload</ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                  
                                    <input type="file" name="coverImage" accept="image/*" (change)="coverImageViewer($event)">
                                    <div style="margin: 10px; 
                                                margin-top: 15px;
                                                width: 200px;
                                                position: absolute;
                                                left: 50%;
                                                transform: translateX(-50%);">
                                    <img *ngIf=" coverImage != '' " src="{{ coverImage }}"/>
                                    </div>

                                </ion-card-content>
                              </ion-card>

                            
                              <!-- Card During Uploading an Image -->
                              <ion-card text-center *ngIf="isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                                      height: 300px;
                                                                                                      margin-left: 0px;">
                                <ion-card-header>
                                  <ion-card-title>Selected File: <i>{{ fileName }}</i></ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                  <div *ngIf="percentage | async as percent">
                                    <p> Progress: {{ percent | number }}% </p>
                                    <ion-progress-bar value="{{ percent / 100 }}"></ion-progress-bar>
                                  </div>
                                  <div *ngIf="snapshot | async as snap">

                                    <p> 
                                      File Size: {{ snap.totalBytes }} <br>
                                      Transferred: {{ snap.bytesTransferred }}
                                    </p>

                                    <!-- Code block shows file size in converted file size -->
                                    <!-- 
                                    <p> 
                                      File Size: {{ snap.totalBytes | fileSizePipe }} <br>
                                      Transferred: {{ snap.bytesTransferred | fileSizePipe }}
                                    </p>  
                                    -->

                                  </div>
                                </ion-card-content>
                              </ion-card>

                              <!-- Card After Uploading an Image -->
                              <ion-card text-center *ngIf="!isFileUploading && isFileUploaded" style="min-width: 100%;
                                                                                                      height: 300px;
                                                                                                      margin-left: 0px;">
                                <ion-card-header>
                                  <ion-card-title>Image Selected to Upload</ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                  <div *ngIf="UploadedFileURL | async as ufurl">
                                    <ion-img [src]="ufurl"></ion-img>
                                    <a [href]="ufurl" target="_blank" rel="noopener" download> Download </a>
                                  </div>

                                  <p> File Size: {{ fileSize }} </p>

                                  <!-- Code block shows file size in converted file size -->
                                  <!-- <p> File Size: {{ fileSize | fileSizePipe }} </p> -->

                                  <ion-button expand="full" color="success" (click)="isFileUploading = isFileUploaded = false"> Upload More </ion-button>
                                </ion-card-content>
                              </ion-card>
                            </div>

                            <!-- Code block without upload cover image -->
                            <div id="withoutCoverImageLecturer" style="display: inline">
                              <ion-card style="min-width: 100%;
                                              height: 300px;
                                              margin-left: 0px;">
                                <ion-card-content>
                                  <h2 style="color: #ccc;">Click On Cover Image Toggle</h2>
                                </ion-card-content>
                              </ion-card>
                            </div>

                            </ion-col>
                          </ion-row>

                          <ion-row style="margin-top: -12px;">
                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Recipient</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Lecturer"  formControlName="noticeRecipient" style="min-width: 100%;">
                                  <ion-select-option *ngFor="let item of registeredLecturerUsers" 
                                    value="{{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}">
                                    {{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}
                                  </ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-label><h3 style="padding-top: 15px;
                                                    font-size: 15px;">Notice Author</h3></ion-label>
                            </ion-col>
                            <ion-col size="9">
                              <ion-item>
                                  <ion-input formControlName="noticeAuthor" style="min-width: 100%;" type="text" readOnly></ion-input>
                              </ion-item>
                            </ion-col>
                          </ion-row>

                          <div style="position: relative;
                                      top: 10px;">
                            <ion-button expand="block" type="submit" [disabled]="!noticePOToLecturerForm.valid">Send Notice</ion-button>
                          </div>

                        </ion-grid>
                      </form>
                      

                    </div>

                  </ion-card-content>
                </ion-card>
                
              </ion-card-content>
            </ion-card>


          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <!-- Notices Sent to Lecturers -->
            <ion-card style="width: 99%;
                              height: 800px;
                              background-color: white;
                              margin-left: 4px;
                              margin-top: 0px;">
                <ion-card-header style="margin-top: 2px;">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <h4> Notices Sent to Lecturers </h4>
                      </ion-col>
                      <ion-col>
                        <ion-item style="margin-top: -12px;
                                        color: black;">
                          <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                          <ion-label style="margin-left: 10px;">Select Date</ion-label>
                          <ion-datetime value="{{ currentDateTime }}" (ionChange)="retrieveNoticePOToLecturersSelectedDate($event)"></ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  

                </ion-card-header>
                <ion-card-content>

                  <div style="border-top: #ccc solid 2px;
                              width: 100%;
                              margin-top: -20px;">
                  </div>

                  <!-- No Notices Available for the selected date text -->
                  <div *ngIf="noNoticePOToLecturersSelectedDateText" style="position: absolute;
                                                top: 50px;
                                                left: 50%;
                                                transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        No Notices were sent to lecturers on the selected date
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- No Notices Available for the past three days text -->
                  <div *ngIf="noNoticePOToLecturersPastThreeDaysText" style="position: absolute;
                                                                            top: 50px;
                                                                            left: 50%;
                                                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        No Notices were sent to lecturers on the past three days
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- Select a past date text -->
                  <div *ngIf="noticesPOToLecturersSelectPastDateText" style="position: absolute;
                                                                            top: 50px;
                                                                            left: 50%;
                                                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        Please select a date that has passed
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- Loading Spinner -->
                  <ion-spinner name="dots" style="position: absolute;
                                                  left: 50%;
                                                  transform: translateX(-50%);
                                                  margin-top: 20px;
                                                  height: 100px;
                                                  width: 100px;" *ngIf="loadingSpinnerPOToLecturer"></ion-spinner>

                  <div style="overflow-y: scroll;
                              width: 100%;
                              height: 720px;">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6" *ngFor="let list of publishedNoticesPOToLecturer">

                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>
                                {{ list.payload.doc.data().noticeTitle }}
                              </ion-card-title>
                              <ion-card-subtitle style="text-align: justify;">
                                {{ list.payload.doc.data().noticeDescription }}
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-label>
                                <b>Notice Category: </b>
                                {{ list.payload.doc.data().noticeCategory }} <br>
                              </ion-label>
                              <ion-grid>
                                <ion-row>
                                  <ion-col style="width: 45px;" *ngIf="list.payload.doc.data().noticeCoverImage">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="secondary" (click)="viewImageNotice(list)">
                                      <ion-icon name="image-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 7px;">
                                        VIEW <br> COVER IMAGE
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" (click)="moreDetailsPOLecturersNotice($event, list)">
                                      <ion-icon name="document-text-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 7px;">
                                        MORE <br> DETAILS
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="warning" (click)="viewImageNotice(list)">
                                      <ion-icon name="create-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        EDIT
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="danger" 
                                        (click)="removePOLecturersNotice('Confirmation','This notice will be removed, do you want to continue?', list)">
                                      <ion-icon name="trash-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        REMOVE        
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-card-content>
                          </ion-card>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>



                </ion-card-content>
              </ion-card>


          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col>

        <ion-row>

          <ion-col>

            <!-- Notices From Lecturers -->
            <ion-card style="width: 99%;
                            height: 800px;
                            background-color: white;
                            margin-left: 4px;
                            margin-top: 10px;">
              <ion-card-header style="margin-top: 2px;">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h4> Notices From Lecturers </h4>
                    </ion-col>
                    <ion-col>
                      <ion-item style="margin-top: -12px;
                                      color: black;">
                        <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                        <ion-label style="margin-left: 10px;">Select Date</ion-label>
                        <ion-datetime value="{{ currentDateTime }}" (ionChange)="retrieveNoticeLecturersToPOSelectedDate($event)"></ion-datetime>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                  

              </ion-card-header>
              <ion-card-content>

                <div style="border-top: #ccc solid 2px;
                            width: 100%;
                            margin-top: -20px;">
                </div>

                <!-- No Notices Available for the selected date text -->
                <div *ngIf="noNoticeLecturersToPOSelectedDateText" style="position: absolute;
                                            top: 50px;
                                            left: 50%;
                                            transform: translateX(-50%);">
                  <ion-item style="border: #ccc solid 1px;
                                  border-radius: 5px;
                                  padding: 5px;">
                    <ion-label style="font-size: 17px;">
                      No Notices were sent from lecturers on the selected date
                    </ion-label>
                  </ion-item>
                </div>

                <!-- No Notices Available for the past three days text -->
                <div *ngIf="noNoticeLecturersToPOPastThreeDaysText" style="position: absolute;
                                                                          top: 50px;
                                                                          left: 50%;
                                                                          transform: translateX(-50%);">
                  <ion-item style="border: #ccc solid 1px;
                                  border-radius: 5px;
                                  padding: 5px;">
                    <ion-label style="font-size: 17px;">
                      No Notices were sent from lecturers on the past three days
                    </ion-label>
                  </ion-item>
                </div>

                 <!-- Select a past date text -->
                <div *ngIf="noticesLecturersToPOSelectPastDateText" style="position: absolute;
                                                                          top: 50px;
                                                                          left: 50%;
                                                                          transform: translateX(-50%);">
                  <ion-item style="border: #ccc solid 1px;
                                  border-radius: 5px;
                                  padding: 5px;">
                    <ion-label style="font-size: 17px;">
                      Please select a date that has passed
                    </ion-label>
                  </ion-item>
                </div>

                <!-- Loading Spinner -->
                <ion-spinner name="dots" style="position: absolute;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                margin-top: 20px;
                                                height: 100px;
                                                width: 100px;" *ngIf="loadingSpinnerLecturerToPO"></ion-spinner>

                <div style="overflow-y: scroll;
                              width: 100%;
                              height: 720px;">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6" *ngFor="let item of publishedNoticesLecturerTOPO">

                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>
                                {{ item.payload.doc.data().noticeTitle }}
                              </ion-card-title>
                              <ion-card-subtitle style="text-align: justify;">
                                {{ item.payload.doc.data().noticeDescription }}
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="5">
                                    <ion-label>
                                      <b>Notice Category: </b>
                                    </ion-label>
                                  </ion-col>
                                  <ion-col size="7">
                                    <ion-label>
                                      {{ item.payload.doc.data().noticeCategory }}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="5">
                                    <ion-label>
                                      <b>Sent Date Time:</b>
                                    </ion-label>
                                  </ion-col>
                                  <ion-col size="7">
                                    <ion-label>
                                      {{ item.payload.doc.data().noticeCreated.noticeCreatedDateTime.toDate() | date: 'dd-MM-yyyy | hh:mm a'  }}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="12" style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" (click)="moreDetailsLecturersPONotice($event, item)">
                                      <ion-icon name="document-text-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 7px;">
                                        MORE DETAILS
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="6" style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="secondary" (click)="viewImageNotice(item)">
                                      <ion-icon name="checkmark-done-outline" style="color: white;
                                                                                    margin-right: 5px;"></ion-icon>
                                      <ion-label style="color: white;">
                                        MARK AS <br> READ
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col size="6" style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="medium" (click)="moreDetailsNotice($event, item)">
                                      <ion-icon name="arrow-undo-outline" style="color: white;
                                                                                margin-right: 5px;"></ion-icon>
                                      <ion-label style="color: white;">
                                        MARK AS <br> UNREAD        
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-card-content>
                          </ion-card>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                

              </ion-card-content>
            </ion-card>


          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>

             <!-- Notices Sent to Students -->
              <ion-card style="width: 99%;
                              height: 800px;
                              background-color: white;
                              margin-left: 4px;
                              margin-top: 0px;">
                <ion-card-header style="margin-top: 2px;">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <h4> Notices Sent to Students </h4>
                      </ion-col>
                      <ion-col>
                        <ion-item style="margin-top: -12px;">
                          <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                          <ion-label style="margin-left: 10px;">Select Date</ion-label>
                          <ion-datetime value="{{ currentDateTime }}" (ionChange)="retrieveNoticePOToStudentsSelectedDate($event)"></ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  

                </ion-card-header>
                <ion-card-content>

                  <div style="border-top: #ccc solid 2px;
                              width: 100%;
                              margin-top: -20px;">
                  </div>

                   <!-- No Notices Available for the selected date text -->
                  <div *ngIf="noNoticePOToStudentsSelectedDateText" style="position: absolute;
                                            top: 50px;
                                            left: 50%;
                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        No Notices were sent to students for the selected date
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- No Notices Available for the past three days text -->
                  <div *ngIf="noNoticePOToStudentsPastThreeDaysText" style="position: absolute;
                                                                            top: 50px;
                                                                            left: 50%;
                                                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        No Notices were sent to students on the past three days
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- Select a past date text -->
                  <div *ngIf="noticesPOToStudentsSelectPastDateText" style="position: absolute;
                                                                            top: 50px;
                                                                            left: 50%;
                                                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        Please select a date that has passed
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- Loading Spinner -->
                  <ion-spinner name="dots" style="position: absolute;
                                                  left: 50%;
                                                  transform: translateX(-50%);
                                                  margin-top: 20px;
                                                  height: 100px;
                                                  width: 100px;" *ngIf="loadingSpinnerPOToStudent"></ion-spinner>

                  <div style="overflow-y: scroll;
                              width: 100%;
                              height: 720px;">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6" *ngFor="let list of publishedNoticesPOTOStudent">

                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>
                                {{ list.payload.doc.data().noticeTitle }}
                              </ion-card-title>
                              <ion-card-subtitle style="text-align: justify;">
                                {{ list.payload.doc.data().noticeDescription }}
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-label>
                                <b>Notice Category: </b>
                                {{ list.payload.doc.data().noticeCategory }} <br>
                              </ion-label>
                              <ion-grid>
                                <ion-row>
                                  <ion-col style="width: 45px;" *ngIf="list.payload.doc.data().noticeCoverImage">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="secondary" (click)="viewImageNotice(list)">
                                      <ion-icon name="image-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 7px;">
                                        VIEW COVER <br> IMAGE
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" (click)="moreDetailsPOStudentsNotice($event, list)">
                                      <ion-icon name="document-text-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 7px;">
                                        MORE <br> DETAILS
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="warning" (click)="editPOToStudentsNotices(list)">
                                      <ion-icon name="create-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        EDIT
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                               height: 40px;" color="danger" 
                                        (click)="removePOStudentsNotice('Confirmation','This notice will be removed, do you want to continue?',list)">
                                      <ion-icon name="trash-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        REMOVE        
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-card-content>
                          </ion-card>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>

                </ion-card-content>
              </ion-card>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>


