<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">SETTINGS</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Change Academic Information
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        Degree Programs
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow: scroll;">

                        <table class="table" style="width: 850px;">
                          <thead>
                            <tr>
                              <th>Degree Code</th>
                              <th>Degree Program</th>
                              <th>No Of Years</th>
                              <th>No Of Semesters Annually</th>
                              <th>Program Delivery</th>
                              <th>Program Coordinator</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedDegreePrograms">
                              <td>{{ item.payload.doc.data().degreeCode }}</td>
                              <td>{{ item.payload.doc.data().degree }},<br> {{ item.payload.doc.data().awardingBodyUniversity }}</td>
                              <td>{{ item.payload.doc.data().deliveryNoOfYears }}</td>
                              <td>{{ item.payload.doc.data().deliveryNoOfSemestersAnnually }}</td>
                              <td>{{ item.payload.doc.data().programDelivery }}</td>
                              <td>{{ item.payload.doc.data().programCoordinator }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditDegreeProgramModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;" 
                                        (click)="removeDegreeProgram('Confirmation Required', 'This degree program will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerDegreeProgram"></ion-spinner>


                      <ion-button color="medium" style="position: relative;
                                                        left: 87%;
                                                        transform: translateX(-13%);
                                                        width: 100px;" (click)="openAddDegreeProgramForm()" *ngIf="addDegreeProgramButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddDegreeProgramForm()" *ngIf="closeDegreeProgramFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addDegreeProgramFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Degree Program
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addDegreeProgramForm" (ngSubmit)="doAddDegreeProgram(addDegreeProgramForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Degree Code
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" placeholder="Enter Code" formControlName="degreeCode"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Degree Program
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-row>
                                    <ion-col>
                                      <ion-item>
                                        <ion-textarea rows="3" style="min-width: 100%;" placeholder="Enter Degree" formControlName="degree"></ion-textarea>
                                      </ion-item> 
                                    </ion-col>
                                  </ion-row>
                                  <ion-row>
                                    <ion-col>
                                      <ion-item>
                                        <ion-textarea rows="3" style="min-width: 100%;" placeholder="Enter Awarding Body University" formControlName="awardingBodyUniversity"></ion-textarea>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Academic Period
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-row>
                                    <ion-col>
                                      <ion-item>
                                        <ion-select style="min-width: 100%;" placeholder="Select No of Years" formControlName="academicPeriodYear">
                                          <ion-select-option value="1">1 Year</ion-select-option>
                                          <ion-select-option value="2">2 Years</ion-select-option>
                                          <ion-select-option value="3">3 Years</ion-select-option>
                                          <ion-select-option value="4">4 Years</ion-select-option>
                                        </ion-select>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                  <ion-row>
                                    <ion-col>
                                      <ion-item>
                                        <ion-select style="min-width: 100%;" placeholder="Select No of Semesters Annually" formControlName="academicPeriodSemester">
                                          <ion-select-option value="1">1 Semesters</ion-select-option>
                                          <ion-select-option value="2">2 Semesters</ion-select-option>
                                          <ion-select-option value="3">3 Semesters</ion-select-option>
                                          <ion-select-option value="4">4 Semesters</ion-select-option>
                                        </ion-select>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Program Delivery 
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-select style="min-width: 100%;" placeholder="Select Delivery" formControlName="programDelivery">
                                      <ion-select-option value="Part-Time">Part-Time Delivery</ion-select-option>
                                      <ion-select-option value="Full-Time">Full-Time Delivery</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Program Coordinattor 
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-select style="min-width: 100%;" placeholder="Select Coordinator" formControlName="programCoordinator">
                                      <ion-select-option *ngFor="let item of registeredLecturers" 
                                        value="
                                          {{ item.payload.doc.data().name.prefix }}
                                          {{ item.payload.doc.data().name.firstName }}
                                          {{ item.payload.doc.data().name.middleName }}
                                          {{ item.payload.doc.data().name.lastName }}
                                        ">
                                        {{ item.payload.doc.data().name.prefix }}
                                        {{ item.payload.doc.data().name.firstName }}
                                        {{ item.payload.doc.data().name.middleName }}
                                        {{ item.payload.doc.data().name.lastName }}
                                      </ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addDegreeProgramForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        Batches
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Batch</th>
                              <th>Degree Program</th>
                              <th>Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedBatches">
                              <td>{{ item.payload.doc.data().batch }}</td>
                              <td>{{ item.payload.doc.data().degree }},<br> {{ item.payload.doc.data().awardingBodyUniversity }}</td>
                              <td>{{ item.payload.doc.data().status }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditBatchModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeBatch('Confirmation Required', 'This batch will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerBatch"></ion-spinner>

                      <ion-button color="medium" style="position: relative;
                                                        left: 87%;
                                                        transform: translateX(-13%);
                                                        width: 100px;" (click)="openAddBatchForm()" *ngIf="addBatchButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddBatchForm()" *ngIf="closeBatchFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addBatchFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Batch
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addBatchForm" (ngSubmit)="doAddBatch(addBatchForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Batch
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" placeholder="Enter Batch" formControlName="batch"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Degree Program
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-row>
                                    <ion-col>
                                      <ion-item>
                                        <ion-select style="min-width: 100%;" placeholder="Select Degree Program" (ionChange)="getAwardingBodyUniversity($event)" formControlName="degreeProgram">
                                          <ion-select-option *ngFor="let item of publishedDegreePrograms" 
                                            value="{{ item.payload.doc.data().degree }}">
                                            {{ item.payload.doc.data().degree }}, {{ item.payload.doc.data().awardingBodyUniversity }}
                                          </ion-select-option>
                                        </ion-select>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Status 
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-select style="min-width: 100%;" placeholder="Select Status" formControlName="status">
                                      <ion-select-option value="Pending">Pending</ion-select-option>
                                      <ion-select-option value="Active">Active</ion-select-option>
                                      <ion-select-option value="Graduated">Graduated</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addBatchForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        Credit Weightings
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">

                        <table class="table" style="min-width: 500px;">
                          <thead>
                            <tr>
                              <th>Credit Weightings</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedNoOfCreditWeightings">
                              <td>{{ item.payload.doc.data().creditsWeighting }}</td>
                              <td>{{ item.payload.doc.data().description }}</td>
                              <td>{{ item.payload.doc.data().status }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditCreditWeightingModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeCreditWeighting('Confirmation Required', 'This credit weighting will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerCreditWeighting"></ion-spinner>

                      <ion-button color="medium" style="position: relative;
                                                        left: 87%;
                                                        transform: translateX(-13%);
                                                        width: 100px;" (click)="openAddCreditWeightingForm()" *ngIf="addCreditWeightingButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddCreditWeightingForm()" *ngIf="closeCreditWeightingFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addCreditWeightingFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Credit Weighting
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addCreditWeightingForm" (ngSubmit)="doAddCreditWeighting(addCreditWeightingForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Credit Weighting
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="number" style="min-width: 100%;" clearInput placeholder="Enter No of Credits" formControlName="creditWeighting"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Description
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Description" formControlName="description"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Status 
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-select style="min-width: 100%;" placeholder="Select Status" formControlName="status">
                                      <ion-select-option value="Pending">Pending</ion-select-option>
                                      <ion-select-option value="Active">Active</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addCreditWeightingForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        Lecture Halls
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">

                        <table class="table" style="min-width: 500px;">
                          <thead>
                            <tr>
                              <th>Lecture Hall</th>
                              <th>Level</th>
                              <th>Approximate No Of Seats Available</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedLectureHalls">
                              <td>{{ item.payload.doc.data().lectureHall }}</td>
                              <td>{{ item.payload.doc.data().level }}</td>
                              <td>{{ item.payload.doc.data().approximateNoOfSeatsAvailable }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditLectureHallModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeLectureHall('Confirmation Required', 'This lecture hall will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerLectureHall"></ion-spinner>

                      <ion-button color="medium" style="position: relative;
                                                        left: 87%;
                                                        transform: translateX(-13%);
                                                        width: 100px;" (click)="openAddLectureHallForm()" *ngIf="addLectureHallButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddLectureHallForm()" *ngIf="closeLectureHallFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addLectureHallFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Lecture Hall
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addLectureHallForm" (ngSubmit)="doAddLectureHall(addLectureHallForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Lecture Hall
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Lecture Hall" formControlName="lectureHall"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Level
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Level" formControlName="level"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Approximate No Of Seats Available 
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="number" style="min-width: 100%;" clearInput placeholder="Enter No of Seats" formControlName="approximateNoOfSeatsAvailable"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addLectureHallForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Change Status Information
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        Lecture Session and Event Session Statuses
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">

                        <table class="table" style="min-width: 300px;">
                          <thead>
                            <tr>
                              <th>Status</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedSessionStatuses">
                              <td>{{ item.payload.doc.data().status }}</td>
                              <td>{{ item.payload.doc.data().description }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditSessionStatusModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeSessionStatus('Confirmation Required', 'This session status will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerSessionStatus"></ion-spinner>

                      <ion-button color="medium" style="position: relative;
                                                        left: 87%;
                                                        transform: translateX(-13%);
                                                        width: 100px;" (click)="openAddSessionStatusForm()" *ngIf="addSessionStatusButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddSessionStatusForm()" *ngIf="closeSessionStatusFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addSessionStatusFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Lecture Session Status
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addSessionStatusForm" (ngSubmit)="doAddSessionStatus(addSessionStatusForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Status
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Status" formControlName="status"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Description
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Description" formControlName="description"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addSessionStatusForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
                <ion-col size="6">

                  <ion-card>
                    <ion-card-content>

                      <ion-label style="font-size: 20px;">
                        User Account Statuses
                      </ion-label>

                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">

                        <table class="table" style="min-width: 300px;">
                          <thead>
                            <tr>
                              <th>Status</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedUserStatuses">
                              <td>{{ item.payload.doc.data().status }}</td>
                              <td>{{ item.payload.doc.data().description }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditUserAccountStatusModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeUserAccountStatus('Confirmation Required', 'This user account status will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerUserAccountStatus"></ion-spinner>

                      <ion-button color="medium" style="position: relative;
                                                        left: 85%;
                                                        transform: translateX(-15%);
                                                        width: 100px;" (click)="openAddUserAccountStatusForm()" *ngIf="addUserAccountStatusButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>

                      <ion-button color="danger" style="position: relative;
                                                        left: 90%;
                                                        top: 20px;
                                                        transform: translateX(-10%);" (click)="openAddUserAccountStatusForm()" *ngIf="closeUserAccountStatusFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>

                      <div *ngIf="addUserAccountStatusFormSection">
                        <ion-label style="font-size: 20px;">
                          Add User Account Status
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">

                          <form [formGroup]="addUserAccountStatusForm" (ngSubmit)="doAddUserAccountStatus(addUserAccountStatusForm.value)">

                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Status
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Status" formControlName="status"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Description
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Description" formControlName="description"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addUserAccountStatusForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </form>

                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Change Category Information
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card>
                    <ion-card-content>
      
                      <ion-label style="font-size: 20px;">
                        Notice Categories
                      </ion-label>
      
                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">
      
                        <table class="table" style="min-width: 300px;">
                          <thead>
                            <tr>
                              <th>Category</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedNoticeCategory">
                              <td>{{ item.payload.doc.data().category }}</td>
                              <td>{{ item.payload.doc.data().description }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditNoticeCategoryModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeNoticeCategory('Confirmation Required', 'This notice category will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
      
                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerNoticeCategory"></ion-spinner>
      
                      <ion-button color="medium" style="position: relative;
                                                        left: 85%;
                                                        transform: translateX(-15%);
                                                        width: 100px;" (click)="openAddNoticeCategoryForm()" *ngIf="addNoticeCategoryButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>
      
                      <ion-button color="danger" style="position: relative;
                                                              left: 90%;
                                                              top: 20px;
                                                              transform: translateX(-10%);" (click)="openAddNoticeCategoryForm()" *ngIf="closeNoticeCategoryFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>
      
                      
                      <div *ngIf="addNoticeCategoryFormSection">
                        <ion-label style="font-size: 20px;">
                          Add Notice Category
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">
      
                          <form [formGroup]="addNoticeCategoryForm" (ngSubmit)="doAddNoticeCategory(addNoticeCategoryForm.value)">
      
                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Category
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Category" formControlName="category"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Description
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Description" formControlName="description"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addNoticeCategoryForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
      
                          </form>
      
                        </div>
                      </div>
      
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card>
                    <ion-card-content>
      
                      <ion-label style="font-size: 20px;">
                        News Categories
                      </ion-label>
      
                      <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  height: 460px;
                                  overflow-y: scroll;">
      
                        <table class="table" style="min-width: 300px;">
                          <thead>
                            <tr>
                              <th>Category</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedNewsCategory">
                              <td>{{ item.payload.doc.data().category }}</td>
                              <td>{{ item.payload.doc.data().description }}</td>
                              <td>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col>
                                      <ion-button style="width: 120px;" (click)="openEditNewsCategoryModal(item)">
                                        <ion-icon name="create-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          EDIT
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col>
                                      <ion-button color="danger" style="width: 120px;"
                                        (click)="removeNewsCategory('Confirmation Required', 'This news category will be removed, do you want to continue?', item)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-label style="color: white;
                                                          margin-left: 5px;">
                                          REMOVE
                                        </ion-label>
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
      
                      <!-- Loading Spinner -->
                      <ion-spinner name="dots" style="position: absolute;
                                                      left: 50%;
                                                      top: 50%;
                                                      transform: translate(-50%,-50%);
                                                      margin-top: 20px;
                                                      height: 100px;
                                                      width: 100px;" *ngIf="loadingSpinnerNewsCategory"></ion-spinner>
      
                      <ion-button color="medium" style="position: relative;
                                                        left: 85%;
                                                        transform: translateX(-15%);
                                                        width: 100px;" (click)="openAddNewsCategoryForm()" *ngIf="addNewsCategoryButton">
                        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                        <ion-label style="color: white;">
                          ADD
                        </ion-label>
                      </ion-button>
      
                      <ion-button color="danger" style="position: relative;
                                                              left: 90%;
                                                              top: 20px;
                                                              transform: translateX(-10%);" (click)="openAddNewsCategoryForm()" *ngIf="closeNewsCategoryFormButton">
                        <ion-icon name="close-outline"></ion-icon>
                      </ion-button>
      
                      
                      <div *ngIf="addNewsCategoryFormSection">
                        <ion-label style="font-size: 20px;">
                          Add News Category
                        </ion-label>
                        <div style="margin-top: 5px;
                                  border: #ccc solid 1px;
                                  border-radius: 5px;
                                  min-width: 100%;
                                  padding-top: 10px;
                                  padding: 25px;">
      
                          <form [formGroup]="addNewsCategoryForm" (ngSubmit)="doAddNewsCategory(addNewsCategoryForm.value)">
      
                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Category
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Category" formControlName="category"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="5">
                                  <ion-label class="settingsAddFormLabel">
                                    Description
                                  </ion-label>
                                </ion-col>
                                <ion-col size="7">
                                  <ion-item>
                                    <ion-input type="text" style="min-width: 100%;" clearInput placeholder="Enter Description" formControlName="description"></ion-input>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12">
                                  <ion-button type="submit" expand="block" [disabled]="!addNewsCategoryForm.valid">
                                    <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
                                    <ion-label style="color: white;">
                                      ADD
                                    </ion-label>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
      
                          </form>
      
                        </div>
                      </div>
      
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          
            
           
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Change Account Details
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="medium" expand="block" style="height: 50px;" (click)="openUpdateDetailsLoginForm()">
                    Update Details
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="medium" expand="block" style="height: 50px;" (click)="openUpdatePasswordLoginForm()">
                    Update Password
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- Update Details Login Credentials Form -->
            <ion-button color="danger" style="position: relative;
                                              left: 5%;
                                              top: 30px;
                                              transform: translateX(-10%);" (click)="openUpdateDetailsLoginForm()" *ngIf="closeUpdateDetailsLoginFormButton">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>

            <div style="border: #ccc solid 1px;
                        border-radius: 5px;
                        margin: 30px;
                        padding: 20px;" *ngIf="updateDetailsLoginFormSection">
              <ion-label style="font-size: 18px;">
                Enter Login Credentials
              </ion-label>

              <form [formGroup]="updateDetailsLoginForm" (ngSubmit)="openUpdateDetailsModal(updateDetailsLoginForm.value)">
                <ion-grid style="margin-top: 10px;">
                  <ion-row>
                    <ion-col size="4">
                      <ion-label class="settingsAddFormLabel">
                        <b>Email Address</b>
                      </ion-label>
                    </ion-col>
                    <ion-col size="8">
                      <ion-item>
                        <ion-input type="email" clearInput placeholder="Enter Email Address" formControlName="emailAddress"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-label class="settingsAddFormLabel">
                        <b>Password</b>
                      </ion-label>
                    </ion-col>
                    <ion-col size="8">
                      <ion-item>
                        <ion-input type="password" clearInput placeholder="Enter Password" formControlName="password"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 20px;">
                    <ion-col>
                      <ion-button expand="block" style="height: 50px;" type="submit" [disabled]="!updateDetailsLoginForm.valid"> 
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                        <ion-label style="color: white;
                                          margin-left: 5px;">
                          VERIFY
                        </ion-label>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </div>


            <!-- Update Password Login Credentials Form -->
            <ion-button color="danger" style="position: relative;
                                              left: 90%;
                                              top: 30px;
                                              transform: translateX(-10%);" (click)="openUpdatePasswordLoginForm()" *ngIf="closeUpdatePasswordLoginFormButton">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>

            <div style="border: #ccc solid 1px;
                        border-radius: 5px;
                        margin: 30px;
                        padding: 20px;" *ngIf="updatePasswordLoginFormSection">
              <ion-label style="font-size: 18px;">
                Enter Login Credentials
              </ion-label>

              <form [formGroup]="updatePasswordLoginForm" (ngSubmit)="openUpdatePasswordModal(updatePasswordLoginForm.value)">
                <ion-grid style="margin-top: 10px;">
                  <ion-row>
                    <ion-col size="4">
                      <ion-label class="settingsAddFormLabel">
                        <b>Email Address</b>
                      </ion-label>
                    </ion-col>
                    <ion-col size="8">
                      <ion-item>
                        <ion-input type="email" clearInput placeholder="Enter Email Address" formControlName="emailAddress"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-label class="settingsAddFormLabel">
                        <b>Password</b>
                      </ion-label>
                    </ion-col>
                    <ion-col size="8">
                      <ion-item>
                        <ion-input type="password" clearInput placeholder="Enter Password" formControlName="password"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 20px;">
                    <ion-col>
                      <ion-button expand="block" style="height: 50px;" type="submit" [disabled]="!updatePasswordLoginForm.valid"> 
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                        <ion-label style="color: white;
                                          margin-left: 5px;">
                          VERIFY
                        </ion-label>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </div>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ABOUT
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <ion-card id="aboutCardStyle">
              <ion-card-header>
                  <ion-avatar style="position: absolute;
                                    top: 20px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background-color: white;
                                    width: 100px;
                                    height: 100px;">
                    <img src="assets/images/account/settings/Team_Quinn_Logo.png">
                  </ion-avatar>
                </ion-card-header>   
                <ion-card-content style="margin-top: 100px;"> 
                  <h2 style="text-align: center;
                            color: black;">NSBM Hub Platform built by University of Plymouth Second Year students <br> 
                              following BSc(Hons) Software Engineering Degree</h2><br>
                  <h2 style="text-align: center;
                            color: black;">Assignment Title: Coursework PUSL2003 - Integrating Project</h2>
                </ion-card-content>     
            </ion-card>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>

