<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">MODULES</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-card style="width: 100%;">
          <ion-card-header>
            <ion-card-title>Search Registered Modules</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="searchRegisteredModuleForm" (ngSubmit)="doSearchRegisteredModule(searchRegisteredModuleForm.value)">
              <ion-grid>
                <ion-row>
                    <ion-col size="3">
                      <ion-item style="min-width: 100%;">
                        <ion-input type="text" clearInput style="min-width: 100%;" placeholder="Enter Module Code" formControlName="moduleCode" (ionInput)="validateModuleCodeInput($event)"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="0.5">
                      <ion-label style="font-size: 20px;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);">
                        OR
                      </ion-label>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item style="min-width: 100%;">
                        <ion-input type="text" clearInput style="min-width: 100%;" placeholder="Enter Module Title" formControlName="moduleTitle" (ionInput)="validateModuleTitleInput($event)"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="0.5">
                      <ion-label style="font-size: 20px;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);">
                        OR
                      </ion-label>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item>
                        <ion-label style="color: #ccc;">
                          Select Degree Program
                        </ion-label>
                        <ion-select cancelText="Cancel" okText="Continue" style="min-width: 40%;" formControlName="degreeProgram" (ionChange)="retrieveAwardingBodyUniversity($event)">
                          <ion-select-option *ngFor="let item of publishedDegreePrograms" value="{{ item.payload.doc.data().degree }}">{{ item.payload.doc.data().degree }}, {{ item.payload.doc.data().awardingBodyUniversity }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                    <ion-col size="2">
                      <ion-button expand="block" type="submit" style="margin-top: 0px;
                                                                      min-height: 50px;
                                                                      font-size: 18px;" [disabled]="!searchRegisteredModuleForm.valid">
                        <ion-icon name="search-outline" style="margin-right: 10px;"></ion-icon>
                        SEARCH
                      </ion-button>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </form>
           
            


            <div style="overflow-y: scroll; 
                        height: 700px;
                        margin-top: 15px;
                        border-top: #ccc solid 1px;">


              <!-- Page loading search module text -->
              <div *ngIf="pageLoadSearchModuleText" style="position: absolute;
                                                          top: 150px;
                                                          left: 50%;
                                                          transform: translateX(-50%);
                                                          font-size: 18px;
                                                          border: rgb(100, 116, 121) solid 2px;
                                                          border-radius: 5px;
                                                          padding: 15px;">
                <ion-icon name="chevron-up-circle-outline" style="color: rgb(8, 177, 219);
                                                                  font-size: 30px;
                                                                  margin-top: 2px;
                                                                  margin-right: 10px;"></ion-icon>
                <ion-label style="position: relative;
                                  top: -5px;">
                  Please populate a field and click 'Search' button to search for a registered module.
                </ion-label>
              </div>

              <!-- Loading Spinner -->
              <ion-spinner name="dots" style="position: absolute;
                                              left: 50%;
                                              transform: translateX(-50%);
                                              margin-top: 20px;
                                              height: 100px;
                                              width: 100px;" *ngIf="loadingSpinnerSearchRegisteredModule"></ion-spinner>

              <ion-grid>

                <ion-row>

                  <ion-col size="4" size-sm="4" size-lg="4" *ngFor="let item of registeredModules">

                    <ion-card style="min-width: 100%;
                                     min-height: 150px;">
                      <ion-card-header>
                        <ion-card-title>{{ item.payload.doc.data().moduleCode }} - {{ item.payload.doc.data().moduleTitle }}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-label>
                          <b>Credits:</b> {{ item.payload.doc.data().creditsWeighting }}
                        </ion-label>
                        <br>
                        <ion-label>
                          <b>Degree Program:</b> {{ item.payload.doc.data().degree }}, 
                        </ion-label>
                        <br>
                        <ion-label style="margin-left: 100px;">
                          {{ item.payload.doc.data().awardingBodyUniversity }} 
                        </ion-label>
                        <br>
                        <ion-label>
                          <b>Module Leader:</b> {{ item.payload.doc.data().moduleLeader }} 
                        </ion-label>
                        <br>
                        <ion-label>
                          <b>Academic Period:</b> Year {{ item.payload.doc.data().academicPeriod.academicYear }}, Semester {{ item.payload.doc.data().academicPeriod.academicSemester }}  
                        </ion-label>

                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-button expand="block" color="secondary" style="min-width: 100%;" (click)="moreDetailsRegisteredModule($event, item)">
                                <ion-icon name="document-text" style="font-size: 25px;
                                                                      margin-right: 5px;"></ion-icon>
                                More Details
                              </ion-button>
                            </ion-col>
                            <ion-col>
                              <ion-button expand="block" color="warning" style="min-width: 100%;" (click)="editRegisteredModule(item)">
                                <ion-icon name="create" style="font-size: 25px;
                                                              margin-right: 5px;
                                                              color: white;"></ion-icon>
                                <ion-label style="color: white;">
                                  Edit Details
                                </ion-label>
                              </ion-button>
                            </ion-col>
                            <ion-col>
                              <ion-button expand="block" color="danger" style="min-width: 100%;" (click)="removeRegisteredModule('Confirmation Required', 'Module will be removed, do you want to continue?' , item.payload.doc.id)">
                                <ion-icon name="trash" style="font-size: 25px;
                                                              margin-right: 5px;"></ion-icon>
                                Remove
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </ion-card-content>

                    </ion-card>

                  </ion-col>

                </ion-row>

              </ion-grid>
            </div>


          </ion-card-content>
        </ion-card>
      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
               
              <ion-card style="margin-top: -10px;">
                <ion-card-header>
                  <ion-card-title>Register Module</ion-card-title>
                </ion-card-header>
                <ion-card-content>

                
                  <form [formGroup]="registerModuleForm" (ngSubmit)="doRegisterModule(registerModuleForm.value)"> 
                    <ion-grid>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">

                          <ion-label class="registerModuleFormLabel">
                            Module Code
                          </ion-label>

                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-item class="registerModuleFormItem">
                            <ion-input type="text" placeholder="Code" clearInput formControlName="moduleCode"></ion-input>
                          </ion-item>
                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel">
                            Module Title
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-item class="registerModuleFormItem">
                            <ion-input type="text" placeholder="Title" clearInput formControlName="moduleTitle"></ion-input>
                          </ion-item>
                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel">
                            Credits Weighting
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-item cancelText="Cancel" okText="Continue" class="registerModuleFormItem">
                            <ion-label class="registerModuleUserInputLabel">Credits Weighting</ion-label>
                            <ion-select placeholder="Credits" cancelText="Cancel" okText="Continue" style="min-width: 100%;" formControlName="creditsWeighting">
                              <ion-select-option *ngFor="let item of publishedModuleCreditsWeighting" value="{{ item.payload.doc.data().creditsWeighting }}">{{ item.payload.doc.data().creditsWeighting }} credits</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel">
                            Degree Program
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">

                          <ion-item class="registerModuleFormItem">
                            <ion-label class="registerModuleUserInputLabel">Degree</ion-label>
                            <ion-select cancelText="Cancel" okText="Continue" style="min-width: 80%;" formControlName="degreeProgram" (ionChange)="retrieveAwardingBodyUniversity($event)">
                              <ion-select-option *ngFor="let item of publishedDegreePrograms" 
                                value="{{ item.payload.doc.data().degree }}">
                                {{ item.payload.doc.data().degree }}, {{ item.payload.doc.data().awardingBodyUniversity }}</ion-select-option>
                            </ion-select>
                          </ion-item>

                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel" style="top: 15px;">
                            Academic Period
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">

                          <div style="border: #ccc solid 1px;
                                          border-radius: 5px;">

                            <ion-row>
                              <ion-select placeholder="Year" style="min-width: 95%;" formControlName="academicPeriodYear">
                                <ion-select-option value="1">Year 1</ion-select-option>
                                <ion-select-option value="2">Year 2</ion-select-option>
                                <ion-select-option value="3">Year 3</ion-select-option>
                                <ion-select-option value="4">Year 4</ion-select-option>
                              </ion-select>
                            </ion-row>
                            <ion-row>
                              <ion-select placeholder="Semester" style="min-width: 95%;" formControlName="academicPeriodSemester">
                                <ion-select-option value="1">Semester 1</ion-select-option>
                                <ion-select-option value="2">Semester 2</ion-select-option>
                                <ion-select-option value="3">Semester 3</ion-select-option>
                                <ion-select-option value="4">Semester 4</ion-select-option>
                              </ion-select>
                            </ion-row>

                          </div>

                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel" style="top: 15px;">
                            Module Leader
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">

                          <ion-item class="registerModuleFormItem">
                            <ion-label class="registerModuleUserInputLabel">Module Leader</ion-label>
                            <ion-select placeholder="Leader" cancelText="Cancel" okText="Continue" style="min-width: 100%;" formControlName="moduleLeader">
                              <ion-select-option *ngFor="let item of registeredLecturerUsers" 
                                value="{{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}">
                                {{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}
                              </ion-select-option>
                            </ion-select>
                          </ion-item>

                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel" style="top: 15px;">
                            Assigned Lecturer
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">

                          <ion-item class="registerModuleFormItem">
                            <ion-label class="registerModuleUserInputLabel">Assigned Lecturer</ion-label>
                            <ion-select placeholder="Lecturer" cancelText="Cancel" okText="Continue" style="min-width: 100%;" formControlName="assignedLecturer">
                              <ion-select-option *ngFor="let item of registeredLecturerUsers" 
                                value="{{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}">
                                {{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}
                              </ion-select-option>
                            </ion-select>
                          </ion-item>

                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col size="12" size-md="6" size-lg="6">
                          <ion-label class="registerModuleFormLabel" style="top: 15px;">
                            Assigned Lecture Hall
                          </ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="6" size-lg="6">

                          <ion-item class="registerModuleFormItem">
                            <ion-label class="registerModuleUserInputLabel">Assigned Lecture Hall</ion-label>
                            <ion-select placeholder="Lecture Hall" cancelText="Cancel" okText="Continue" style="min-width: 100%;" formControlName="assignedLectureHall">
                              <ion-select-option *ngFor="let item of publishedLectureHalls" value="{{ item.payload.doc.data().lectureHall }}">{{ item.payload.doc.data().lectureHall }}</ion-select-option>
                            </ion-select>
                          </ion-item>

                        </ion-col>

                      </ion-row>
                      <ion-row>

                        <ion-col>
                          <ion-button  style="position: relative;
                                              left: 50%;
                                              transform: translateX(-50%);" type="submit">                      
                            Register
                          </ion-button>
                        </ion-col>

                      </ion-row>



                    </ion-grid>
                  </form>


                </ion-card-content>
              </ion-card>

            </ion-col>
            <ion-col size="6">

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
