<ion-header>
  <ion-toolbar>
    <ion-title>Update Account Password</ion-title>
    <ion-button (click)="closeEditAccountPasswordModal()" slot="end" shape="round" fill="outline" color="danger" style="margin-right: 20px;">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <form [formGroup]="updateAccountPasswordForm" (ngSubmit)="doUpdateAccountPassword(updateAccountPasswordForm.value)">
        <ion-grid style="margin: 20px;">
          <ion-row>
            <ion-col size="4">

              <ion-label class="editAccountPasswordFormLabel">
                New Password
              </ion-label>

            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-input type="password" clearInput formControlName="password"></ion-input>
              </ion-item>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">

              <ion-label class="editAccountPasswordFormLabel" formControlName="confirmPassword">
                Confirm Password
              </ion-label>

            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-input type="password" clearInput></ion-input>
              </ion-item>

            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 20px;">
            <ion-col>

              <ion-button style="width: 150px;
                                position: relative;
                                left: 50%;
                                transform: translateX(-50%);" [disabled]="!updateAccountPasswordForm.valid">
                UPDATE
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <ion-button size="small" shape="round" color="medium" style="height: 50px;
                                                                  width: 50px;
                                                                  font-size: 15px;
                                                                  position: absolute;
                                                                  top: 175px;
                                                                  right: 5%;" (click)="openMoreInformationPopover($event)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
