ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-label{
    color: black;
}

ion-item{
    border: #ccc solid 1px;
    border-radius: 5px;
}

.editAccountPasswordFormLabel{
    position: relative;
    top: 15px;
    font-size: 16px;
}